* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose";
  list-style-type: none;
}

.container {
  background-color: #342d24;

  margin: 55px auto 0;
  width: 900px;
  height: 500px;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  width: 950px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-42%, -900%);
}

.list {
  display: flex;
  gap: 30px;
  color: #7c7b79;
  font-size: 12px;

  margin-right: -100px;
}

.list :hover {
  color: #fff;
}

img[src="./assets/white-logo.png"] {
  width: 80px;
  margin-left: -160px;
}

.button-small {
  font-size: 11px;
  padding: 9px 22px;
  color: #f4be2c;
  background-color: transparent;
  border: 1px solid #a77b06;
  border-radius: 5px;
  /* margin-left: 55px; */
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ---------------------------*/

div > img[src="assets/pexels-ekaterina-bolovtsova-6077326.jpg"] {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 900px;
  height: 250px;
  position: absolute;
  top: 42.4%;
}

.hero_container {
  display: flex;
  align-items: center;
  gap: 70px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
}

.hero-heading {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 900;
  margin-left: 28px;
}

.discription {
  width: 550px;
  font-size: 12px;
  line-height: 15px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
